.dark-button-wrapper{
    padding: 1rem 0;
}

.dark-button{
    position: relative;
    width: 40px;
    height: 24px;
    background: #0d9488;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

.dark-button.active{
    background: #15f5f1;
}

.knob{
    position: absolute;
    top: 2px;
    left: 2px;
    display: flex;
    width: auto;
    height: calc(100% - 4px);
    aspect-ratio: 1/1;
    background: white;
    border-radius: 100%;
    transition: all 0.2s ease-in-out;
}

.dark-button.active .knob{
    left: calc(100% - 22px);
}
