@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
}

:root{
    --body: #FFFFFF;

    --text: #777777;
}


body{
    background: var(--body);
    color: var(--text);
}