@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
    text-decoration: none;
    list-style: none;
    font-weight: normal;
}

:root{
    --body: #212121;
    --header: #000000;

    --text: #777777;
}


body{
    background: var(--body);
    color: var(--text);
}

.dark-mode{
    --body: #FFFFFF;
}
