@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
    text-decoration: none;
    list-style: none;
    font-weight: normal;
}

:root{
    --body: #212121;
    --header: #000000;

    --text: #777777;

    --white: #FFFFFF;
}


body{
    background: var(--body);
    color: var(--text);
}

.dark-mode{
    --body: #FFFFFF;
}

main{
    width: calc(100% - 40px);
    max-width: 2000px;
    margin: auto;
    margin-top: 100px;
}

main > h1{
    margin-bottom: 20px;
}

main > div{
    width: 100%;
    padding: 20px;
    background: #333;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


main > div > h3{
    color: #999;
}

main > div > code{
    background: #000;
    border: 1px solid #555;
    padding: 10px;
}

main > div{
    display: none;
}

main > div:nth-last-child(1){
    display: flex;
    flex-direction: column;
}
